/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}


td {
  border: 0 !important;
  color: #494f53 !important;
}

th {
  border: 0 !important;
}

tr {
  border: 0 !important;
  border-bottom: 1px solid #dee2e6 !important;
}

.z-index-0 {
  z-index: 0;
}

.z-index-1 {
  z-index: 1;
}

.z-index-2 {
  z-index: 2;
}

.hidden {
  visibility: hidden;
}